{% extends 'home/base.html' %}

{% load static %}

{% block head-content %}
<style type="text/css">
/**
* The CSS shown here will not be introduced in the Quickstart guide, but shows
* how you can use CSS to style your Element's container.
*/
.StripeElement {
	box-sizing: border-box;

	height: 40px;

	padding: 10px 12px;

	border: 1px solid transparent;
	border-radius: 4px;
	background-color: white;

	box-shadow: 0 1px 3px 0 #e6ebf1;
	-webkit-transition: box-shadow 150ms ease;
	transition: box-shadow 150ms ease;
}

.StripeElement--focus {
	box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
	border-color: #fa755a;
}

.StripeElement--webkit-autofill {
	background-color: #fefde5 !important;
}

</style>

{% endblock %}

{% block content %}

<div class="container"  style="margin-top: 100px;">

</div>


<div class="container">
	<div class="row">
		<div class="col-lg-10 col-md-10 col-10">
			<h3 style="font-weight: 500;">Shipping Checkout</h3>
		</div>
		<div class="col-lg-2 col-md-2 col-2">
			<a href="{% url 'home:cart_details' %}" style="color:#222;font-size: 13px;font-weight: 600;">CART <i class="fa fa-shopping-cart" style="font-size: 28px;" aria-hidden="true"></i><span style="margin-left: 8px;">{{cart_items.count}}</span></a>
		</div>
		<hr class="w-100">
	</div>
	<div class="row" style="background-color: #f4f4f4;">
		<div class="col-lg-4 col-md-12 col-sm-12" >
			<div class="my-2">
				<h4><i class="fa fa-truck m-2" aria-hidden="true"></i>Your Order</h4>
			</div>
			<div class="my-3">
				<p>Items <span style="float: right;">৳{{cart_price}}</span></p>
				<p>Shipping <span style="float: right;">৳{{shipping_price}}</span></p>
				<p style="font-weight: bold;">Total <span style="float: right;">৳{{total_price}}</span></p>
			</div>
			{% for cart in cart_items %}
			<div class="my-3">
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4">
						<img src="{{cart.products.formatted_image.url}}" alt="product-img">
					</div>
					<div class="col-lg-8 col-md-8 col-sm-8">
						<h6 class="font-weight-normal">{{cart.products.name}}</h6>
						<h6>Qty: {{cart.products.quantity}}</h6>
						<h6 class="font-weight-normal">৳{{cart.products.price}}</h6>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
		<div class="col-lg-8 col-md-12 col-sm-12" style="background-color: #fff;">

			<p class="text-muted" style="border-bottom: 1px solid #ddd;padding-bottom: 5px;">Already have a Borderfree account? <a href="#">Click here.</a></p>
			<h4 class="my-4"><span class="circle-number">1</span> Delivery</h4>
			<form>
				<div class="form-row">
					<div class="form-group col-lg-12 col-md-12">
						<input class="form-control" type="" name="" placeholder="Email">
					</div>
					<div class="form-group col-md-6 col-6">
						<input class="form-control" type="" name="" placeholder="First Name">
					</div>
					<div class="form-group col-md-6 col-6">
						<input class="form-control" type="" name="" placeholder="Last Name">
					</div>
					<div class="form-group col-lg-12 col-md-12">
						<input class="form-control" type="" name="" placeholder="Address">
					</div>
					<div class="form-group col-md-6 col-6">
						<input class="form-control" type="" name="" placeholder="Address 2 (Optional)">
					</div>
					<div class="form-group col-md-6 col-6">
						<input class="form-control" type="" name="" placeholder="Postal Code">
					</div>
					<div class="form-group col-md-6 col-6">
						<input class="form-control" type="" name="" placeholder="City">
					</div>
					<div class="form-group col-md-6 col-6">
						<input class="form-control" type="" name="" placeholder="Region (Optional)">
					</div>
					<div class="form-group col-md-6 col-6">
						<input class="form-control" type="" name="" placeholder="Phone">
					</div>
					<div class="form-group col-md-6 col-6">
						<input class="form-control font-weight-bold" type="" name="" value="Bangladesh" placeholder="Postal Code"disabled>
					</div>

					<div class="form-group col-md-6 col-6 p-2" style="background-color: #f4f4f4;">
						<span>Delivery Method</span>
					</div>
					<div class="form-group col-md-6 col-6 p-2" style="background-color: #f4f4f4;">
						<span>Estimated Arrival &	Shipping Cost</span>
					</div>
					<div class="my-2 text-center w-100">
						<a class="checkout-continue" style="cursor:pointer;float:center;background-color: #222; color: #fff; padding: 10px 60px 10px 60px;border-radius: 5px;">Continue <span style="font-size: 10px;">>></span></a>
					</div>

				</div>				
			</form>
			<hr style="width: 100%;">

			<h4 class="my-3 w-100"><span class="circle-number">2</span> Payment</h4>
			<section class="payment-option" style="display: none; width: 100%;">

				<div class="form-check w-100">
					<input  class="form-check-input" type="radio" name="payment" id="exampleRadios1" value="1">
					<label class="form-check-label" for="exampleRadios1">
						Mobile Banking
					</label>
				</div>
				<div id="payment1" class="form-group col-md-6 col-6 my-2 form-payment" style="display: none;">
					<p style="border-radius: 2px;background-color: #e9ecef;padding: 10px;font-weight: 600;">
						bKash/Rocket: <span>01620000001</span>
					</p>
					<input  iclass="form-control font-weight-bold" type="" name="" value="" placeholder="Transaction ID" >
				</div>	
				<div class="form-check w-100">
					<input class="form-check-input" type="radio" name="payment" id="exampleRadios2" value="2">
					<label class="form-check-label" for="exampleRadios2">
						Credit or Debit Card
					</label>
				</div>
				<div id="payment2" class="form-group col-md-12 col-12 my-2 form-payment" style="display: none;">
					<!-- Payment API -->

					<form action="/charge" method="post" id="payment-form">
						{% csrf_token %}
						<div class="flex-column form-row my-2">
					<label class="ml-2" for="card-element">
						Credit or debit card
					</label>
					<div class="ml-2" id="card-element">
						<!-- A Stripe Element will be inserted here. -->
					</div>

					<!-- Used to display form errors. -->
					<div id="card-errors" role="alert"></div>
				</div>

						<button>Submit Payment</button>
					</form>
				</div>	

				<div class="my-4 text-center w-100">
					<a class="place-order-button" style="cursor:pointer;background-color: #222; color: #fff; padding: 10px 60px 10px 60px;border-radius: 5px;">Place Order <span style="font-size: 10px;">>></span></a>
				</div>											
			</section>
			<hr style="width: 100%;">
			<div>
				<p style="text-align: justify;font-size: 14px;color: #999;">By placing your order, you agree to the <a href="#">Terms & Conditions</a> and <a href="#">Privacy Policy</a> of Shipping fee and transaction conditions. 
				</p>
			</div>

		</div>
	</div>
</div>

<script>

	$(document).ready(function(){
		$("input[name$='payment']").click(function(){
			var test = $(this).val();
			$("div.form-payment").hide(400);
			$("#payment"+test).show(400);

		})
		$(".checkout-continue").click(function(){
			$(".payment-option").show(400);
			$(".checkout-continue").hide(400);
		})
	})
// Create a Stripe client.
var stripe = Stripe('pk_test_TYooMQauvdEDq54NiTphI7jx');

// Create an instance of Elements.
var elements = stripe.elements();

// Custom styling can be passed to options when creating an Element.
// (Note that this demo uses a wider set of styles than the guide below.)
var style = {
	base: {
		color: '#32325d',
		fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
		fontSmoothing: 'antialiased',
		fontSize: '16px',
		'::placeholder': {
			color: '#aab7c4'
		}
	},
	invalid: {
		color: '#fa755a',
		iconColor: '#fa755a'
	}
};

// Create an instance of the card Element.
var card = elements.create('card', {style: style});

// Add an instance of the card Element into the `card-element` <div>.
card.mount('#card-element');

// Handle real-time validation errors from the card Element.
card.on('change', function(event) {
	var displayError = document.getElementById('card-errors');
	if (event.error) {
		displayError.textContent = event.error.message;
	} else {
		displayError.textContent = '';
	}
});

// Handle form submission.
var form = document.getElementById('payment-form');
form.addEventListener('submit', function(event) {
	event.preventDefault();

	stripe.createToken(card).then(function(result) {
		if (result.error) {
// Inform the user if there was an error.
var errorElement = document.getElementById('card-errors');
errorElement.textContent = result.error.message;
} else {
// Send the token to your server.
stripeTokenHandler(result.token);
}
});
});

// Submit the form with the token ID.
function stripeTokenHandler(token) {
// Insert the token ID into the form so it gets submitted to the server
var form = document.getElementById('payment-form');
var hiddenInput = document.createElement('input');
hiddenInput.setAttribute('type', 'hidden');
hiddenInput.setAttribute('name', 'stripeToken');
hiddenInput.setAttribute('value', token.id);
form.appendChild(hiddenInput);

// Submit the form
form.submit();
}

</script>

{% endblock %}