{% extends 'home/base.html' %}


{% block content %}
{% load static %}
<div class="container" style="margin-top: 100px; color: #3c3c3c;">
	
		<div class="row">
			<div class="col-md-12">
				<div class="container">
					<div>
						<img src="{{post.formatted_image.url}}" style="width:80%;display:block;margin-bottom: 20px;"/>
					</div>
						<div style="font-size: 25px;margin-bottom: 10px;">
							{{post.title}}
							
						</div>
					<div class="text-muted" style="font-size: 20px;">
						{{post.date}}
					</div>	
					<div class="text-muted" style="font-size: 20px;">
						{{post.view}}
					</div>
					<div>
						{{post.description | safe}}
					</div>
				</div>
			</div>	
		</div>

</div>
{% endblock %}