{% extends 'home/base.html' %}


{% block content %}
{% load static %}
<div class="container">
	
		<div class="row">
			<div class="col-md-12">
				<div class="container">
					<div >
						<img src="{{post.formatted_image.url}}" style="width:80%;display:block;margin-bottom: 20px;"/>
					</div>
						<div style="font-size: 25px;">
							{{post.title}}
						</div>
					<div class="text-muted">
						{{post.date}}
					</div>	
					<div class="text-muted">
						{{post.view}} views
					</div>
					<div class="my-2">
						{{post.description | safe}}
					</div>
				</div>
			</div>	
		</div>

</div>
{% endblock %}