{% extends 'home/base.html' %}

{% block content %}
{% load static %}
<div class="container">
	<div class="row">
		<div class="col-lg-6 col-md-6 col-12">
			<ul class="appointment-view" id="toggle-view">
				{% for lab in labs %}
				    <li>
				    	<h3>{{lab.name}}</h3>
				        <span>+</span>
				        <p>
							<div class="row p-2">
								<div class="col-lg-4 col-md-4 col-sm-4">
									<p><img src="{{lab.technician_name.staff_image}}" style="width: 100%;" /></p>
								</div>
								<div class="col-lg-8 col-md-8 col-sm-8">
									<p>Name: {{lab.technician_name.first_name}} {{lab.technician_name.last_name}}</p>
							        <p>Designation: {{lab.technician_name.designation}}</p>
							        <p>Degree: {{appointment.doctor.degree}}</p>	
							        <p>Email: {{lab.technician_name.email}}</p>
							        <p>Phone: {{lab.technician_name.phone}}</p>
								</div>
							</div>
				        </p>
				    </li>
				{% endfor %}
			</ul>
		</div>
		<div class="col-lg-6 col-md-6 col-12">
			<img src="{% static 'images/select_lab.jpg' %}" style="display: block;width: 100%;">
		</div>

	</div>
</div>
<script>
	var parent = $('#toggle-view'), // storing main ul for use below
    delay = 200; // storing delay for easier configuration

	// bind the click to all headers
	$('li h3', parent).click(function() {
	    
	    // get the li that this header belongs to
	    var li = $(this).closest('li');
	    
	    // check to see if this li is not already being displayed
	    if (!$('p', li).is(':visible'))
	    {
	        // loop on all the li elements
	        $('li', parent).each(function() {
	            
	            // slide up the element and set it's marker to '+' 
	            $('p', $(this)).slideUp(delay);
	            $('span', $(this)).text('+');
	        });
	    
	        // display the current li with a '-' marker
	        $('p', li).slideDown(delay);
	        $('span', li).text('-');
	    }
	    else {
	        $('p', li).slideUp(delay);
	        $('span', li).text('+');  
	    }
	});
</script>
{% endblock %}