{% extends 'base.html' %}

{% block content %}
<div class="container">
	<div class="row doctor-info">
		<div class="col-lg-4 col-md-4 col-sm-4 doctor-img">
			<img src="{{doctor.doctor_image.url}}"/>
		</div>
		<div class="col-lg-8 col-md-8 col-sm-8">	
			<div class="doctor-name">
				{{doctor.first_name}} {{doctor.last_name}} 
			</div>
			<div class="text-muted" style="font-size:18px;font-weight: 600;">
				{{doctor.designation}} 
			</div>
			<p class="appointment-button">
				<a href="{% url 'home:appointment' doctor.slug %}">online appointment</a>
			</p>
		</div>
	</div>
</div>
<div class="container mt-4">
	<div class="doctor-info-title">
		doctor bio
	</div>
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 my-2">
			<div class="row">
				<div class="col-sm-4 col-xs-12 col-md-3 col-lg-3 post">Name</div>
				<div class="col-sm-1 col-md-1 col-lg-1 hidden-xs">:</div>
				<div class="col-sm-6 col-xs-12 col-md-6 col-lg-6">{{doctor.first_name}} {{doctor.last_name}}</div>
			</div>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 my-2">
			<div class="row">
				<div class="col-sm-4 col-xs-12 col-md-3 col-lg-3 post">Designation</div>
				<div class="col-sm-1 col-md-1 col-lg-1 hidden-xs">:</div>
				<div class="col-sm-6 col-xs-12 col-md-6 col-lg-6">Professor</div>
			</div>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 my-2">
			<div class="row">
				<div class="col-sm-4 col-xs-12 col-md-3 col-lg-3 post">Degree</div>
				<div class="col-sm-1 col-md-1 col-lg-1 hidden-xs">:</div>
				<div class="col-sm-6 col-xs-12 col-md-6 col-lg-6">{{doctor.degree}}</div>
			</div>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 my-2">
			<div class="row">
				<div class="col-sm-4 col-xs-12 col-md-3 col-lg-3 post">Phone</div>
				<div class="col-sm-1 col-md-1 col-lg-1 hidden-xs">:</div>
				<div class="col-sm-6 col-xs-12 col-md-6 col-lg-6">{{doctor.phone}}</div>
			</div>
		</div>
		
		<div class="col-lg-12 col-md-12 col-sm-12 my-2">
			<div class="row">
				<div class="col-sm-4 col-xs-12 col-md-3 col-lg-3 post">Address</div>
				<div class="col-sm-1 col-md-1 col-lg-1 hidden-xs">:</div>
				<div class="col-sm-6 col-xs-12 col-md-6 col-lg-6">{{doctor.address}}</div>
			</div>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 my-2">
			<div class="row">
				<div class="col-sm-4 col-xs-12 col-md-3 col-lg-3 post">City</div>
				<div class="col-sm-1 col-md-1 col-lg-1 hidden-xs">:</div>
				<div class="col-sm-6 col-xs-12 col-md-6 col-lg-6">{{doctor.city}}</div>
			</div>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 my-2">
			<div class="row">
				<div class="col-sm-4 col-xs-12 col-md-3 col-lg-3 post">Division</div>
				<div class="col-sm-1 col-md-1 col-lg-1 hidden-xs">:</div>
				<div class="col-sm-6 col-xs-12 col-md-6 col-lg-6">{{doctor.division}}</div>
			</div>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 my-2">
			<div class="row">
				<div class="col-sm-4 col-xs-12 col-md-3 col-lg-3 post">Gender</div>
				<div class="col-sm-1 col-md-1 col-lg-1 hidden-xs">:</div>
				<div class="col-sm-6 col-xs-12 col-md-6 col-lg-6">{{doctor.gender}}</div>
			</div>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 my-2">
			<div class="row">
				<div class="col-sm-4 col-xs-12 col-md-3 col-lg-3 post">Religion</div>
				<div class="col-sm-1 col-md-1 col-lg-1 hidden-xs">:</div>
				<div class="col-sm-6 col-xs-12 col-md-6 col-lg-6">{{doctor.religion}}</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}