{% extends 'base.html' %}

{% block content %}
<div class="container doctor-details">
	<div class="row">
		<div class="col-md-12 text-center category-title">
			<span>{{category}} Doctors</span>			
		</div>
	</div>
	<div class="cards my-3">
		{% for doctor in doctors %}
		<!-- doctor cards begin -->
		<a class="card" href="{% url 'home:doctor' category.slug doctor.slug  %}">
			{% if doctor.doctor_image %}
			<img src="{{doctor.doctor_image.url}}" />
			{% endif %}
			<span class="card-title" style="">
				<h5>{{doctor.first_name}} {{doctor.last_name}}</h5>
			</span>
			<div class="ml-2 mr-2 card-middle">
				<div>
					{{doctor.designation}}
				</div>
				<div style="color: #ea3448;">
					{{doctor.degree}}
				</div>
			</div>
		</a>
		<!-- doctor cards end -->
		{% endfor %}
	</div>
</div>
{% endblock %}