{% extends 'base.html' %}


{% block content %}
{% load static %}

<div class="container" style="margin-top: 100px; color: #3c3c3c;">
	<form action="{% url 'home:food_blog_search' %}" method="get">
		<div class="form-group">
			<input class="form-control" type="text" name="q" placeholder="Search food blog">
		</div>
	</form>
	<div class="row">
	{% for post in food_blogs %}
			<div class="col-md-3 my-3">
				<div class="container">
					<div>
						<img src="{{post.post_image.url}}" style="width:100%;display:block;margin-bottom: 20px;"/>
					</div>
						<div style="font-size: 25px;margin-bottom: 10px;">
							{{post.title}}
							
						</div>
					<div class="text-muted" style="font-size: 20px;">
						{{post.date}}
					</div>	
					<div>
						<a href="{% url 'home:food_blog_post' post.slug %}">read more</a>
					</div>
				</div>
			</div>	
	{% endfor %}
		</div>

</div>
{% endblock %}