{% extends 'base_staff.html' %}
{% block title %}Contact Box{% endblock %}
 
{% block content %}
<div class="container my-4">
	<form method="POST">
		{% csrf_token %}
		<div class="form-group">
			<input class="datepicker form-control" type="date" name="select_date">
		</div>
		<div class="form-group">
			<button>submit</button>
		</div>
	</form>
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Reply</th>
				</tr>
			</thead>
			<tbody>
				{% for contact in contacts %}
					{% if contact.reply %}
						<tr>
							<td>{{contact.name}}</td>
							<td>{{contact.email}}</td>
							<td></td>
						</tr>
					{% else %}
						<tr style="background-color:#ddd;">
							<td>{{contact.name}}</td>
							<td>{{contact.email}}</td>
							<td>
								<a class="btn btn-info" href="{% url 'staff:contact_box_details' contact.id %}" style="color: #fff;">Reply</a>
							</td>
						</tr>
					{% endif %}
				{% endfor %}
			</tbody>
		
		</table>

	</div>

</div>
{% endblock %}