/* full body */
body{
    padding-top: 90px;
    font-family: din,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}
a{
    color: #222; 
}
a:hover{
    text-decoration: none; 
}
ul,
ol {
    padding: 0;
    margin: 0;
}
section{
    display:block;
}
.circle-number{
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 50%;
    background-color: #222;
    color: #fff;
    text-align: center;
}
/*home page grid*/
.elements {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1vw;
}
.isKDvZ {
    background-color: rgb(237, 242, 247);
    height: 100%;
    padding-bottom: 100%;
    opacity: 1;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.title-box{
	background-color: #ea3448;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
}
.title {
    font-size: 1rem;
    line-height: 1.28571em;
    margin-bottom: .71429em;
    letter-spacing: .01em;
	text-transform: uppercase;
	font-weight: bold;
}


.lab-list li:hover{
    background-color: #3c3c3c;
    color: #fff;
}
.product-item .product-info ul{
    width: 100%; 
    list-style:none; 
    padding:0px;
}
.product-item .product-info ul li{
    display: inline-block;
}

/* USER PROFILE BEGIN */
#toggle-view{
    list-style:none;
    font-size:16px;
    margin:10px 0px 0px 0px;
    padding:0;
    width:500px;
}
#toggle-view li{
    border:1px solid #ccc;
    position:relative;
    cursor:pointer;
}
#toggle-view h3{
    background-color: #f9f9f9;
    padding:10px;
    font-size:20px;
    margin:0;
}
#toggle-view span{
    position:absolute;
    right:5px;
    top:0;
    color:#222;
    font-size:22px;
}
#toggle-view p{
    margin:10px;
    display:none;
}
/* USER PROFILE END */

/* DOCTOR DETAILS BEGIN */
.doctor-details .category-title span{
    border-bottom: 2px solid #ea3448;
    padding-bottom:8px;
    padding-top:8px;
    font-size: 20px; 
    font-weight: 600;
    color: #3c3c3c; 
    text-transform: uppercase;
}
.cards{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}
.cards a{
    text-decoration: none;
}
.cards a img{
     width: 200px; 
    height: 200px;
}
.card{
    width: 200px;
    margin: 10px;
    text-align: center;
    font-size: 15px;
}
.card-title{
    color: #3c3c3c; 
    font-weight: 600;
    font-size: 23px;
    padding-top: 5px; 
    margin-bottom: 0;
}
.card-middle{
    line-height: 25px;
}
.card-middle div{
    color: #3c3c3c;
    font-size: 14px;
}
.card-title h5{
    margin: 0;
}
/* DOCTOR DETAILS END */

/* DOCTOR INFO DETAILS CSS BEGIN */
.doctor-info .doctor-img img{
    display: block;
    width: 100%;
}
.doctor-info .doctor-name{
    font-size: 30px; 
    font-weight: 600;
}
.doctor-info .appointment-button {
    margin-top: 10px;
}
.doctor-info .appointment-button a{
    padding: 8px; 
    background-color: #ea3448;
    color: #fff; 
    font-size: 18px; 
    font-weight: 600;
    border-radius: 25px;
    text-transform: capitalize;
    text-decoration: none;
}
.doctor-info-title{
    background-color: #ea3448; 
    padding: 5px;
    font-size: 20px;
    color: #fff; 
    font-weight: 600;
    text-transform: capitalize;
}
.post{
    font-weight:bold;
}
/* DOCTOR INFO DETAILS CSS END */

/* APPOINTMENT CSS BEGIN */
.appointment .doctor-details span{
    font-size: 20px; 
    font-weight: 600;
}
.appointment-form-title{
    background-color: #ea3448;
    padding-top: 10px;
    padding-bottom: 10px; 
    text-align: center;
    color: #fff; 
    font-size: 20px;
    font-weight: 600;
}
/* APPOINTMENT CSS END */


/* CATEGORY MEDICINE DETAILS CSS BEGIN */
.order-now{
    color: #3c3c3c; 
    background-color: #f9f9f9; 
    text-align: center;
    font-weight: 600; 
    font-size: 25px; 
    border:1px solid #ddd;
    height: 65px;
}
.send-sms{
    color: #3c3c3c; 
    background-color: #f9f9f9; 
    text-align: center;
    font-size: 20px;
    border:1px solid #ddd;
}
.order-fb{
    color: #3c3c3c; 
    background-color: #f9f9f9; 
    text-align: center;
    font-size: 18px;
    border:1px solid #ddd;
}
.send-email{
    color: #3c3c3c; 
    background-color: #f9f9f9; 
    text-align: center;
    font-size: 18px;
    border:1px solid #ddd;
}
.delivery-charge{
    margin-top: 20px;
    background-color: #f9f9f9;
    text-align: center; 
    color: #ea3448; 
    font-size: 20px;
}
.delivery-charge-info{
    padding-top: 10px;
}
.medicine-prescription{
    text-align: center; 
    color: #fff; 
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #007bff;
}
/* CATEGORY MEDICINE DETAILS CSS END */

.product-item img{
    margin:0px;
    padding:0px;
    width: 150px;
    height: 150px;

}
.product-item a{
    text-decoration: none; 
}

/* PHARMACY CSS BEGIN */
.medicine-list .category-title{
    border-bottom: 2px solid #ea3448;
    padding-bottom:8px;
    padding-top:8px;
    font-size: 20px; 
    font-weight: 600;
    color: #3c3c3c; 
    text-transform: uppercase;
}
.products{
    display: flex;
    flex-wrap: wrap;
}
.product-card{
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 2%;
    flex: 0 25%;
    background-color: #fff;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.25);
}
.product-image img{
    width: 100%;
}
.product-info{
    margin-top: auto;
    padding-top: 20px;
    text-align: center;
}
.quantity{
    display: inline-block;
    font-weight: 700;
    padding-right:10px;

}
.chg-quantity{
    width: 12px;
    cursor: pointer;
    display: block;
    transition:.1s;
}

.chg-quantity:hover{
    opacity: .6;
}

/* PHARMACY CSS END */

/* CART CSS BEGIN */

/* CART CSS END  */

/* CHECKOUT CSS BEGIN */
.checkout{
    display: flex;
    flex-wrap: wrap;
    background-color: #f6f6f6;
}
.order-checkout{    
    padding: 2%;
    display: flex;
    background-color: #fff;
    flex-direction: column;
    flex: 8;
}
.order-details{
    display: flex;   
    padding: 2%;
    flex-direction: column;
    flex: 4;
}
/* CHECKOUT CSS END */

/* FOOTER CSS BEGIN */
.footer {
    background: #F3F6FA;
    padding-top: 70px;
    padding-bottom: 0;
}

.footer__about {
    margin-bottom: 30px;
}

.footer__about ul li {
    font-size: 16px;
    color: #fff;
    line-height: 36px;
    list-style: none;
}

.footer__about__logo {
    margin-bottom: 15px;
}

.footer__about__logo a {
    display: inline-block;
}

.footer__widget {
    margin-bottom: 30px;
    overflow: hidden;
}

.footer__widget h6 {
    color: #fff;
    font-weight: 700;
    margin-bottom: 10px;
}

.footer__widget ul {
    width: 50%;
    float: left;
}

.footer__widget ul li {
    list-style: none;
}

.footer__widget ul li a {
    color: #fff;
    font-size: 14px;
    line-height: 32px;
    text-decoration: none;
}

.footer__widget p {
    font-size: 14px;
    color: #fff;
    margin-bottom: 30px;
}

.footer__widget form {
    position: relative;
    margin-bottom: 30px;
}

.footer__widget form input {
    width: 100%;
    font-size: 16px;
    padding-left: 20px;
    color: #fff;
    height: 46px;
    border: 1px solid #ededed;
}

.footer__widget form input::placeholder {
    color: #fff;
}

.footer__widget form button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 26px;
    height: 100%;
}

.footer__widget .footer__widget__social a {
    display: inline-block;
    height: 41px;
    width: 41px;
    font-size: 16px;
    color: #404040;
    border: 1px solid #ededed;
    border-radius: 50%;
    line-height: 38px;
    text-align: center;
    background: #ffffff;
    -webkit-transition: all, 0.3s;
    -moz-transition: all, 0.3s;
    -ms-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
    margin-right: 10px;
}

.footer__widget .footer__widget__social a:last-child {
    margin-right: 0;
}

.footer__widget .footer__widget__social a:hover {
    background: #180d46;
    color: #ffffff;
    border: none;
}

.footer__copyright {
    border-top: 1px solid #ebebeb;
    padding: 15px 0;
    overflow: hidden;
    margin-top: 20px;
}

.footer__copyright__text {
    font-size: 14px;
    color: #fff;
    float: left;
    line-height: 25px;
}

.footer__copyright__payment {
    float: right;
}
/* FOOTER CSS END */

/* PAYMENT CSS BEGIN */
.form-group > small{
    color: #e74c3c;
    bottom: 0;
    left: 0;
    display: none;
}
/* PAYMENT CSS END */

@media ( max-width: 920px ) {
    
    .product-card {
        flex: 1 21%;
    }
    
    .products .product-card:first-child, 
    .products .product-card:nth-child(2) {
        flex: 2 46%;
    }

}

@media ( max-width: 600px ) {
    
    .product-card {
        flex: 1 46%;
    }    
}

@media ( max-width: 480px ) {
    
    h1 {
        margin-bottom: 20px;
    }
    
    .product-filter {
        flex-direction: column;
    }
    
    .sort {
        align-self: flex-start;
    }
    
}
    