{% extends 'base_staff.html' %}
{% block title %}Medicine Products{% endblock %}

{% block content %}
<div class="container my-4">
	
	<form method="GET">	
		<div class="form-row">
			<div class="form-group col-4">
				<input class="form-control" type="" name="search" placeholder="Search product....">
			</div>
		</div>
	</form>
	<div class="table-responsive">
		<table class="table text-center">
			<thead>
				<tr>
					<th><a>Image</a></th>
					<th><a href="?order_by=name&dir_by={{direction_by}}&dir_col={{direction_column}}">Name<i class="ml-2 fa fa-sort" aria-hidden="true"></i></a></th>
					<th><a href="?order_by=company&dir_by={{direction_by}}&dir_col={{direction_column}}">Company<i class="ml-2 fa fa-sort" aria-hidden="true"></i></a></th>
					<th><a href="?order_by=price&dir_by={{direction_by}}&dir_col={{direction_column}}">Price<i class="ml-2 fa fa-sort" aria-hidden="true"></i></a></th>
					<th><a href="?order_by=quantity&dir_by={{direction_by}}&dir_col={{direction_column}}">Quantity<i class="ml-2 fa fa-sort" aria-hidden="true"></i></a></th>
					<th><a href="?order_by=date&dir_by={{direction_by}}&dir_col={{direction_column}}">Date<i class="ml-2 fa fa-sort" aria-hidden="true"></i></a></th>
					<th>Edit</th>
					<th>Del</th>
				</tr>
			</thead>
			<tbody>
				{% for product in all_products %}
					<tr>
						<td><img src="{{product.medicine_image.url}}" style="height: 100px;width: 100px;"></td>
						<td>{{product.name}}</td>
						<td>{{product.company}}</td>
						<td>{{product.price}}</td>
						<td>{{product.quantity}}</td>
						<td>{{product.date}}</td>
						<td>
							<a class="btn btn-info" href="{% url 'staff:edit_product' product.slug %}" style="color: #fff;">Edit</a>
						</td>
						<td>
							<a class="btn btn-danger" href="{% url 'staff:delete_product' product.slug %}"  style="color: #fff;">Delete</a>				
						</td>					
					</tr>
				{% endfor %}
			</tbody>
		
		</table>

		<nav aria-label="Page navigation example">
			{% if all_products.has_other_pages %}
				<ul class="pagination justify-content-center">
					{% if all_products.has_previous %}
						<li class="page-item">
							<a class="page-link" href="?page={{all_products.previous_page_number}}&order_by={{order_by}}">Previous</a>
						</li>
					{% else %}
						<li class="page-item disabled">
							<a class="page-link">Previous</a>
						</li>
					{% endif %}

					{% for i in all_products.paginator.page_range %}
						{% if all_products.number == i  %}	
							<li class="active">
								<a class="page-link">{{i}}<span class="sr-only">(current)</span></a>
							</li>
						{% else %}
							<li>
								<a class="page-link" href="?page={{i}}&order_by={{order_by}}">{{i}}</a>
							</li>
						{% endif %}
					{% endfor %}

					{% if all_products.has_next %}
						<li class="page-item">
							<a class="page-link" href="?page={{all_products.next_page_number}}&order_by={{order_by}}">Next</a>
						</li>
					{% else %}
						<li class="page-item">
							<a class="page-link">Next</a>
						</li>
					{% endif %}
				</ul>
			{% endif %}
		</nav>

	</div>
</div>
{% endblock %}