{% extends 'base_staff.html' %}
{% block title %}Medicine Products{% endblock %}

{% block content %}
<div class="container my-4">
	
	<form method="GET">	
		<input class="from-control" type="" name="search">
	</form>
	<div class="table-responsive">
		<table class="table text-center">
			<thead>
				<tr>
					<th><a href="?order_by=name">Image</a></th>
					<th><a href="?order_by=name">Name</a></th>
					<th><a href="?order_by=price">Price</a></th>
					<th><a href="?order_by=quantity">Quantity</a></th>
					<th><a href="?order_by=date">Date</a></th>
					<th>Edit</th>
					<th>Del</th>
				</tr>
			</thead>
			<tbody>
				{% for product in all_products %}
					<tr>
						<td><img src="{{product.medicine_image.url}}" style="height: 100px;width: 100px;"></td>
						<td>{{product.name}}</td>
						<td>{{product.price}}</td>
						<td>{{product.quantity}}</td>
						<td>{{product.date}}</td>
						<td>
							<a class="btn btn-info" href="{% url 'staff:edit_product' product.slug %}" style="color: #fff;">Edit</a>
						</td>
						<td>
							<a class="btn btn-danger" href="{% url 'staff:delete_product' product.slug %}"  style="color: #fff;">Delete</a>				
						</td>					
					</tr>
				{% endfor %}
			</tbody>
		
		</table>

		<nav aria-label="Page navigation example">
			{% if all_products.has_other_pages %}
				<ul class="pagination justify-content-center">
					{% if all_products.has_previous %}
						<li class="page-item">
							<a class="page-link" href="?page={{all_products.previous_page_number}}">Previous</a>
						</li>
					{% else %}
						<li class="page-item disabled">
							<a class="page-link">Previous</a>
						</li>
					{% endif %}

					{% for i in all_products.paginator.page_range %}
						{% if all_products.number == i  %}	
							<li class="active">
								<a class="page-link">{{i}}<span class="sr-only">(current)</span></a>
							</li>
						{% else %}
							<li>
								<a class="page-link" href="?page={{i}}">{{i}}</a>
							</li>
						{% endif %}
					{% endfor %}

					{% if all_products.has_next %}
						<li class="page-item">
							<a class="page-link" href="?page={{all_products.next_page_number}}">Next</a>
						</li>
					{% else %}
						<li class="page-item">
							<a class="page-link">Next</a>
						</li>
					{% endif %}
				</ul>
			{% endif %}
		</nav>

	</div>
</div>
{% endblock %}