{% extends 'base.html' %}


{% load static %}
{% block content %}

<div class="container">

	<div class="text-right">
		<span style="float: left;font-size: 20px;font-weight: 600;">
			Products: {{category}} 
		</span>
		<a href="{% url 'home:cart_details' %}" style="color:#222;font-size: 13px;font-weight: 600;">CART <i class="fa fa-shopping-cart" style="font-size: 28px;" aria-hidden="true"></i><span class="cart-count" style="margin-left: 8px;">{{cart_items.count}}</span></a>

	</div>

	<hr>

	<section class="products">
		{% for med in medicines %}
			<div class="product-card">
				<div class="product-box">
					<div class="product-image">
						{% if med.formatted_image %}	
							<img src="{{ med.formatted_image.url }}" style="width: 100%;">
						{% endif %}	
					</div>
					<div class="product-info">
						<h5>{{med.name}}</h5>
						<h6>Company: {{med.company}}</h6>
						<h6>Price: {{med.price}}৳</h6>
						<div style="display:inline-block;background-color: #222;color: #fff;padding: 8px;border: none;margin: 2px;">
							<a data-product="{{med.id}}" data-action="add" class="update-cart" style="cursor:pointer;">
								Add to Cart
							</a>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</section>

</div>

<script >
	var updateBtns = document.getElementsByClassName('update-cart');
	var cart_count = document.getElementsByClassName('cart-count');
	cart_count[0].textContent = '{{cart_count}}';
	for(var i = 0; i<updateBtns.length; i++){
		updateBtns[i].addEventListener('click', function(){
			var productId = this.dataset.product;
			var action = this.dataset.action;
			var user = '{{request.user}}';
			if(user=='AnonymousUser'){
				console.log('Not logged in');
			}
			else{

				updateUserOrder(productId,action);
			}

		})
	}
	function updateUserOrder(productId, action){
		console.log('User is logged in, sending data.....');
		
		$.ajax({
			type: "POST",
			url: "{% url 'home:update_cart' %}",
			data:{
				'csrfmiddlewaretoken' : "{{csrf_token}}",
				'product_id': productId,
				'action': action,
			},
			success: function(data){
				console.log(data['total_carts']);

				cart_count[0].textContent = data['total_carts'];
			},
			error: function(){
				console.log("error occurs!");
			},
		})
	}
	
</script>
{% endblock %} 