
body{
	padding-top: 65px;
	background-color: #f4f4f4;
	overflow: hidden;
}

/* links begin */
a:link{
	color: #222;
	text-decoration: none;
}
ul{
	margin: 0;
	padding: 0;
}
/* links end */

/* sidebar begin */
.sidebar{
	position: fixed;
	background-color: #222;
  	width: 15rem;
	height: 100vh;
	overflow-y: auto;
	z-index: 1039;
}
.sidebar_menu{
	padding: 5px;
	margin:10px;
	line-height: 30px;
	list-style: none;
}
.sidebar_menu li{
	padding: 5px;
	list-style-type: none;
}
.sidebar_menu li a{
	color: #fff;
	display: block;
	cursor: pointer;
}
.sidebar_menu li a:hover{
	color: #fff;
}
.sidebar_submenu{
	margin-top: 4px;
	margin-bottom: 3px;
	border-left: 2px solid #f4f4f4;
}
/* sidebar end */

/* content begin */
.content{
	padding-left: 15rem;
	position: relative;
	height: calc(100vh - 58px);
	overflow-y: auto;
}
.content-container{
	background-color: #fff;
	margin: 15px;
	border-radius: 5px;
}

/* content end */