{% extends 'base_staff.html' %}

{% block title %}All Blog{% endblock %}

{% block content %}
<div style="background-color: #fff; margin:20px;">

	<div class="p-2">
	{% for blog in blogs %}
		<a href="{% url 'home:food_blog_post' blog.slug %}">
			<div class="row p-2" style="border: 1px solid #f4f4f4;">
				<div class="col-md-2">
					{% if blog.formatted_image %}
						<img src="{{blog.formatted_image.url}}" style="width: 100%;">
					{% else %}
						<img src="" alt="product-image">
					{% endif %}	
				</div>
				<div class="col-md-2">
					<p>{{blog.title}}</p>
				</div>
				<div class="col-md-3">
					<p>{{blog.date}}</p>
				</div>
			</div>
		</a>
	{% endfor %}
	</div>
</div>
{% endblock %}