{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="container" style="margin-top: 100px;">
	<div class="row">

		<div class="col-md-4">
			<div class="title-box text-center p-2 rounded">
				<span class="text">Sign Up</span>
			</div>
			<div class="my-3">
				<form method="POST">
					{% csrf_token %}
					{% if form.non_field_errors %}
						{% for error in form.non_field_errors %}
							<div class="alert alert-danger">
								{{error}}
							</div>
						{% endfor %}
					{% else %}

					{% endif %}


					{% if success_msg %}
						<div class="alert alert-success">
								{{success_msg}}
							</div>
					{% endif %}

					<div class="form-group">
						{{form.first_name}}					
					</div>
					<div class="form-group">
						{{form.last_name}}
					</div>
					<div class="form-group">
						<label class="text-muted">*Email must be confirmed after submitting</label>
						{{form.email}}					
					</div>
					<div class="form-group">
						<label class="text-muted">*Password must be 8 characters</label>
						{{form.password1}}
					</div>
					<div class="form-group">
						<label class="text-muted">*Password must be matched with above field</label>
						{{form.password2}}					
					</div>
					<div class="form-group">
						<label class="text-muted">*Add +880 before phone number. e.g +8801876150509</label>
						{{form.phone_number}}					
					</div>
					<div class="form-group">
						<button class="btn btn-success">Sign-Up</button>
					</div>
				</form>
			</div>
		</div>
		<div class="col-md-8">
			<img src="{% static 'images/select_signup.jpg' %}" style="display: block; width: 90%;">
		</div>
	</div>
</div>
{% endblock %}