<div class="sidebar">
	<ul class="sidebar_menu">
	    <li>
	    	<a href="{% url 'staff:dashboard' %}"><i class="fa fa-dashcube mr-2" aria-hidden="true"></i>Dashboard</a>
	    	
	    </li>
		<li>
	    	<a><i class="fa fa-product-hunt mr-2" aria-hidden="true"></i>Product</a>
	    	<ul class="sidebar_submenu">
	    		<li>
	    			<a href="{% url 'staff:product' %}">All Products</a>
	    		</li>
	    		<li>
	    			<a href="{% url 'staff:add_product' %}">Add Product</a>
	    		</li>
	    	</ul>
	    </li>
	    <li>
	    	<a href="{% url 'staff:order_list' %}"><i class="fa fa-dashcube mr-2" aria-hidden="true"></i>Order</a>	
	    </li>
		<li>
	    	<a id="id_blog"><i class="fa fa-pencil mr-2" aria-hidden="true"></i>Blog</a>
	    	<ul class="sidebar_submenu">
	    		<li>
	    			<a href="{% url 'staff:blog' %}">Blog</a>
	    		</li>
	    		<li>
	    			<a href="{% url 'staff:add_blog' %}">Add Blog</a>
	    		</li>
	    	</ul>
	    </li>
    </ul>
</div>